<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header class="header">
    <nav>
        <p id="logo">Premier League Tracker</p>
        <ul class="nav-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/table">Table</a></li>
            <li><a href="/schedule">Schedule</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <ul class="nav-login">
            {{#if session.user}}
                <li class="username-container">
                    <p class="username">{{session.user.username}}</p>
                    <a href="/logout" class="logout-button">Logout</a>
                </li>
            {{else}}
                <li><a href="/">Login</a></li>
            {{/if}}
        </ul>
    </nav>
</header>

    {{{body}}}

    <footer>
        <p>&copy; Premier League Tracker</p>
    </footer>
</body>
</html>