<div class="about-container">
    <section class="text-section-about">
        <h2>About Us</h2>
        <p>
            Welcome to Premier League Tracker – your ultimate destination for following all the action of the 2023/2024 Premier League season!
        </p>
        <br>
        <p>
            Our mission is to provide fans with up-to-date information on fixtures, standings, and individual team performances. Whether you're rooting for your favorite team or tracking the league table, we've got all the stats you need in one place.
        </p>
        <br>
        <p>
            Stay on top of game, matchweek, and match result, and never miss a moment from this thrilling season. Thank you for making us your trusted source for Premier League updates!
        </p>
    </section>
</div>