* {
    font-family: 'Open Sans', sans-serif;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

/* Home */

.home-container {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}

.hero {
    text-align: center;
    background-color: #0073e6;
    color: white;
    padding: 50px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #0073e6;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.introduction, .featured-matches, .recent-news {
    margin-bottom: 30px;
}

.featured-matches li {
list-style-type: none;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.match-info {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center;    /* Centers items vertically */
    text-align: center;     /* Centers text inside child elements */
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Takes full width */
    flex-wrap: wrap; /* Allows elements to stack when necessary */
    margin-top: 1rem;
    
}

#logo {
    font-weight: 600;
    font-size: 1.2em;
    padding: 5px;
    border: 2px solid black;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.nav-links {
    flex-grow: 1; /* Allow the nav links to take available space */
    justify-content: flex-start;
    margin-left: 20px;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

/* Align nav-links and nav-login in a row */
.nav-links {
    display: flex;
    list-style-type: none;
}


nav a:hover {
    color: #007bff; /* Change link color on hover */
}

/* Contact */
.contact-container {
    align-items: center;
    padding: 20px; /* Add some padding to avoid content touching the edges */
    box-sizing: border-box;
    overflow: hidden; /* Prevent scrollbars */
    display: flex; /* Add flexbox for container alignment */
    flex-direction: column; /* Stack items vertically on smaller screens */
}

.text-section {
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Align items in a column */
    justify-content: center; /* Center content vertically */
    margin: 1rem;
    width: 100%; /* Use full width */
    max-width: 600px; /* Max width for larger screens */
    height: auto; /* Allow height to adjust */
    text-align: center;
    padding: 20px; /* Add some padding inside the section */
}

.map-section {
    margin: 1rem;
    width: 100%; /* Use full width */
    max-width: 600px; /* Max width for larger screens */
    height: auto; /* Allow height to adjust */
}

.profile-container {
    width: 90%;
    margin: 50px auto; /* Center the container */
    padding: 20px;
    background-color: #fff; /* White background for the profile */
}

.profile-container h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.profile-container p {
    font-size: 1rem;
    color: #555; /* Slightly lighter text color */
    text-align: center; /* Center align */
}

.team-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}

.team-container img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.update-team {
    padding: 10px;
    margin: 15px;
    background-color: #007bff;
    align-items: center;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.team-selection-form {
    margin-top: 20px; /* Space above form */
    text-align: center; /* Center align */
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-selection-form button {
margin-top: 10px;
width: auto;
}


/* Select Box */
#team {
    max-width: 200px; /* Set maximum width for dropdown */
    width: 100%; /* Allow full width */
    padding: 6px; /* Adjust padding */
    margin-bottom: 15px; /* Space below dropdown */
    font-size: 14px; /* Adjust font size */
    border: 1px solid #ccc; /* Light border */
    border-radius: 4px; /* Rounded corners */
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-top: 10px;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.login-container button {
    margin-top: 15px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container p {
    margin-top: 15px;
}

.table-container {
    margin: 0 auto;  /* Center the table */
    max-width: 90%;  /* Limit the width of the table */
    padding-left: 20px;  /* Left padding */
    padding-right: 20px; /* Right padding */
}


.date {
    width: 70px;
}

.result {
    width: 150px;
}

.home-team, .away-team {
    width: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    table-layout: fixed; /* Ensures fixed column widths */
}

thead {
    background-color: #007BFF;
    color: #ffffff;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #dddddd;
    text-overflow: ellipsis; /* Adds ellipsis if text is too long */
    white-space: nowrap; /* Prevents text from wrapping */
}

/* Table row styling */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e7f1ff;
}

th {
    font-weight: bold;
    font-size: 16px;
    white-space: pre-wrap;
}

td {
    font-size: 12px;
}

.team img {
    width: 20px; /* Small team logo */
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}

.team span {
    vertical-align: middle;
}

/* Flexbox layout for team logo and name */
.team {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.team img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 8px;
}

.team span {
    white-space: pre-wrap; /* Prevent text from wrapping */
}

.team-name {
    text-decoration: none;
    list-style-type: none;
    color: black;
}
/* Applying different borders based on position */
/* For Positions 1 to 4: Blue Border */
.position-1 td:first-child,
.position-2 td:first-child,
.position-3 td:first-child,
.position-4 td:first-child {
    border-right: 4px solid #4285f4;
}

/* For Position 5 and 8: Orange Border */
.position-5 td:first-child,
.position-8 td:first-child {
    border-right: 4px solid #fa7b16;
}

/* For Position 6: Green Border */
.position-6 td:first-child {
    border-right: 4px solid #02a40c;
}

/* For Positions 18 to 20: Red Border */
.position-18 td:first-child,
.position-19 td:first-child,
.position-20 td:first-child {
    border-right: 4px solid #ea4336;
}

.img {
    width: 40px;  /* Fixed width */
    height: 40px; /* Fixed height */
    object-fit: contain;  /* Maintain aspect ratio, fit within the container */
    margin-right: 8px;
    vertical-align: middle;
    display: inline-block;
}

.icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 8px;
    vertical-align: middle; 
    display: inline-block;
}

.change-team-btn {
    padding: 10px;
    margin: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-user-btn {
    margin: 15px;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Pagination code from "Maketechstuff" - https://www.maketechstuff.com/2023/08/dynamic-pagination-in-javascript-step.html */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Add some padding to avoid content touching the edges */
    box-sizing: border-box;
    overflow: hidden; /* Prevent scrollbars */
}

/* Box styling */
.box {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 100px;
    box-shadow: 0px 10px 30px -15px #000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.box ul {
    display: flex;
    margin: 0px 10px;
}

.box ul li {
    list-style: none;
    margin: 0px 5xp;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    text-align: center;
}

.box ul li a {

    font-size: 2 rem;
    text-decoration: none;
    color: #000;
    display: block;
    border-radius: 100px;
    transition: 0.2s;
}

.box ul li .active_page {
    background-color: #0056b3;
    color: #ffffff;
}

.box ul li a:hover,
.box button a:hover {
    background-color: #0056b3;
    color: #ffffff;
}

/* Buttons */
.box button {
    font-size: 16px;
    font-weight: bold;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    overflow: hidden;
}

.box button a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: #000;
    transform: 0.2s;
}

/* Footer */
.content {
    flex: 1; /* This allows the content area to grow and push the footer down */
}

/* Footer styling */
.footer {
    background-color: #007bff;
    color: #f0f0f0; /* Light text color */
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; /* Center the footer content */
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    display: inline;
    margin: 0 15px;
}

.footer-links ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: 500;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-social a {
    margin: 0 10px;
    color: #f0f0f0;
    font-size: 1.5em;
    text-decoration: none;
}

.footer-social a:hover {
    color: #007bff; /* Highlight color on hover */
}

.footer-copyright {
    font-size: 0.9em;
    padding: 10px;
}

.team-name {
    text-align: center; /* Center align text */
    align-items: center;
    margin: 0 auto;
}

.team-info {
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}

.team-image {
    width: 40px; /* Set a fixed width for the image */
    height: 40px; /* Set a fixed height for the image */
    object-fit: contain; /* Maintain aspect ratio */
    margin-bottom: 4px; /* Space between the image and text */
}

.team-text {
    word-wrap: break-word; /* Allow words to break onto the next line */
    white-space: normal; /* Allow normal text wrapping */
}

.button-container {
    display: flex;            /* Use flexbox layout */
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    flex-direction: column;    /* Stack buttons vertically if desired */
}

.button-container a {
    text-decoration: none;
}

select {
    max-width: 200px; /* Set maximum width for dropdown */
    width: 100%; /* Allow full width */
    padding: 6px; /* Adjust padding */
    margin-bottom: 8px; /* Space below dropdown */
    font-size: 14px; /* Adjust font size */
}

/* Button adjustments */
.change-team-btn, .delete-user-btn, .update-team {
    padding: 8px; /* Increase button padding */
    font-size: 12px; /* Adjust font size */
    display: flex;
    flex-grow: -1;
}

@media screen and (max-width: 1450px) and (min-width: 1001px) {
    .table-container {
        max-width: 90%; /* Slightly wider table container */
        padding: 15px;
    }

    table {
        font-size: 13px; /* Adjust table font size */
    }

    th, td {
        padding: 10px; /* Adjust padding */
        font-size: 11px; /* Increase font size slightly */
        
    }

    .date .pos {
        width: 70px;
    }

    .club {
        width: 120px;
    }

    .auto {
        width: auto;
    }
    
    .result {
        width: 150px;
    }
    
    .home-team, .away-team {
        width: auto;
    }

    .team-name {
        text-align: center; /* Center align text */
        align-items: center;
        margin: 0 auto;
    }
    
    .team-info {
        display: flex; /* Enable flexbox layout */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }
    
    .team-image {
        width: 40px; /* Set a fixed width for the image */
        height: 40px; /* Set a fixed height for the image */
        object-fit: contain; /* Maintain aspect ratio */
        margin-bottom: 4px; /* Space between the image and text */
    }
    
    .team-text {
        word-wrap: break-word; /* Allow words to break onto the next line */
        white-space: normal; /* Allow normal text wrapping */
    }

    .button-container {
        display: flex;            /* Use flexbox layout */
        justify-content: center;  /* Center horizontally */
        align-items: center;      /* Center vertically */
        flex-direction: column;    /* Stack buttons vertically if desired */
    }

    select {
        max-width: 200px; /* Set maximum width for dropdown */
        width: 100%; /* Allow full width */
        padding: 6px; /* Adjust padding */
        margin-bottom: 8px; /* Space below dropdown */
        font-size: 14px; /* Adjust font size */
    }
    
    /* Button adjustments */
    .change-team-btn, .delete-user-btn, .update-team{
        padding: 8px; /* Increase button padding */
        font-size: 12px; /* Adjust font size */
        display: flex;
        flex-grow: -1;
    }

}

/* Responsive Styling for 1000px to 751px */
@media screen and (max-width: 1000px) and (min-width: 751px) {

    /* Header section */
    .header {
        flex-direction: row; /* Still maintain horizontal layout */
        padding: 10px; /* Reduce padding slightly */
    }

    #logo {
        font-size: 1.1em; /* Slightly smaller logo */
        padding: 5px;
        margin: 0 auto; /* Center logo */
    }

    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1rem;
    }

    nav {
        flex-direction: row; /* Maintain row layout */
        justify-content: space-between;
    }

    .nav-links {
        margin: 0 15px; /* Reduce spacing */
    }

    .nav-links li {
        margin-right: 15px; /* Decrease margin between nav items */
    }

    /* Login container */
    .login-container {
        max-width: 450px; /* Set a max width */
        padding: 15px; /* Adjust padding */
        margin: 40px auto; /* Center with reduced top margin */
    }

    .login-container h1 {
        font-size: 1.7em; /* Adjust heading size */
    }

    .login-container input, .login-container button {
        padding: 8px; /* Adjust padding */
    }

    /* Table container */
    .table-container {
        max-width: 90%; /* Slightly wider table container */
        padding: 15px;
    }

    table {
        font-size: 13px; /* Adjust table font size */
    }

    th, td {
        padding: 10px; /* Adjust padding */
        font-size: 11px; /* Increase font size slightly */
    }


    .date .pos {
        width: 70px;
    }

    .club {
        width: 120px;
    }

    .auto {
        width: auto;
    }


    .player, .won, .drawn, .lost, .points {
        width: auto;
    }

    
    .result {
        width: auto;
    }
    
    .home-team, .away-team {
        width: auto;
    }

    
    .team-name {
        text-align: center; /* Center align text */
        align-items: center;
        margin: 0 auto;
    }
    
    .team-info {
        display: flex; /* Enable flexbox layout */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }
    
    .team-image {
        width: 40px; /* Set a fixed width for the image */
        height: 40px; /* Set a fixed height for the image */
        object-fit: contain; /* Maintain aspect ratio */
        margin-bottom: 4px; /* Space between the image and text */
    }
    
    .team-text {
        word-wrap: break-word; /* Allow words to break onto the next line */
        white-space: normal; /* Allow normal text wrapping */
    }


    /* Footer adjustments */
    .footer-container {
        flex-direction: row; /* Keep footer content in a row */
        justify-content: space-between; /* Distribute items evenly */
        padding: 15px;
    }

    .footer-links ul li {
        margin: 0 12px; /* Adjust spacing between links */
    }

    .footer-social a {
        font-size: 1.3em; /* Slightly adjust icon size */
    }

    .button-container {
        display: flex;            /* Use flexbox layout */
        justify-content: center;  /* Center horizontally */
        align-items: center;      /* Center vertically */
        flex-direction: column;    /* Stack buttons vertically if desired */
    }

    select {
        max-width: 200px; /* Set maximum width for dropdown */
        width: 100%; /* Allow full width */
        padding: 6px; /* Adjust padding */
        margin-bottom: 8px; /* Space below dropdown */
        font-size: 14px; /* Adjust font size */
    }
    
    /* Button adjustments */
    .change-team-btn, .delete-user-btn, .update-team {
        padding: 8px; /* Increase button padding */
        font-size: 12px; /* Adjust font size */
        display: flex;
        flex-grow: -1;
    }
}

/* Responsive Styling for 750px to 451px */
@media screen and (max-width: 750px) and (min-width: 551px) {

    /* Header section */
    .header {
        flex-direction: column; /* Stack header elements */
        padding: 8px;
    }

    #logo {
        font-size: 1em; /* Adjust logo size */
        padding: 4px;
        width: 100%; /* Full width for logo */
        margin: 5px 0;
    }

    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1rem;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .nav-links {
        margin: 0;
        justify-content: center;
    }
    .nav-links li {
        margin-right: 10px; /* Decrease spacing between links */
    }

    /* Login container */
    .login-container {
        max-width: 100%; /* Full width for login container */
        padding: 10px; /* Reduce padding */
        margin: 30px auto; /* Adjust margin */
    }

    .login-container h1 {
        font-size: 1.5em; /* Reduce heading size */
    }

    .login-container input, .login-container button {
        padding: 6px; /* Reduce padding */
    }

    /* Table container */
    .table-container {
        max-width: 90%; /* Slightly wider table container */
        padding: 15px;
    }

    table {
        font-size: 12px; /* Decrease font size */
    }

    th, td {
        padding: 8px; /* Adjust padding */
        font-size: 10px; /* Reduce font size */
    }

    .date .pos {
        width: 70px;
    }

    .club {
        width: 120px;
    }

    .auto {
        width: auto;
    }


    .player, .won, .drawn, .lost, .points {
        width: auto;
    }

    
    .result {
        width: auto;
    }
    
    .home-team, .away-team {
        width: auto;
    }

    .team-name {
        text-align: center; /* Center align text */
        align-items: center;
        margin: 0 auto;
    }
    
    .team-info {
        display: flex; /* Enable flexbox layout */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }
    
    .team-image {
        width: 40px; /* Set a fixed width for the image */
        height: 40px; /* Set a fixed height for the image */
        object-fit: contain; /* Maintain aspect ratio */
        margin-bottom: 4px; /* Space between the image and text */
    }
    
    .team-text {
        word-wrap: break-word; /* Allow words to break onto the next line */
        white-space: normal; /* Allow normal text wrapping */
    }

    .profile-container h1 {
        font-size: 1.5rem;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .profile-container p {
        font-size: 0.75rem;
        color: #555; /* Slightly lighter text color */
        text-align: center; /* Center align */
    }
    
    /* Footer adjustments */
    .footer-container {
        flex-direction: column; /* Stack footer items */
        align-items: center;
        padding: 10px;
    }

    .footer-links ul li {
        margin: 0 10px; /* Adjust spacing between links */
    }

    .footer-social a {
        font-size: 1.2em; /* Adjust social icon size */
    }
    
    select {
        max-width: 200px; /* Set maximum width for dropdown */
        width: 100%; /* Allow full width */
        padding: 6px; /* Adjust padding */
        margin-bottom: 8px; /* Space below dropdown */
        font-size: 14px; /* Adjust font size */
    }

    /* Button adjustments */
    .change-team-btn, .delete-user-btn, .update-team{
        padding: 6px; /* Adjust button padding */
        font-size: 10px; /* Adjust font size */
    }
}


@media screen and (max-width: 550px) {
/* Header section */
.header {
    display: flex;
    flex-direction: column; /* Stack everything vertically */
    align-items: center; /* Center-align all content */
    padding: 5px; /* Minimal padding */
    width: 100%; /* Full width for better alignment */
}

#logo {
    font-size: 0.9em; /* Adjust logo size */
    padding: 2px; /* Minimal padding */
    width: 100%; /* Ensure full width */
    text-align: center; /* Center the logo text */
    margin: 5px 0; /* Small margin around the logo */
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 0.75rem;
}

nav {
    display: flex;
    flex-direction: column; /* Stack navigation and login vertically */
    align-items: center; /* Center-align navigation and login */
    width: 100%; /* Full width */
}

/* Navigation Links */
.nav-links {
    display: flex; /* Enable flexbox */
    flex-wrap: wrap; /* Allow wrapping of navigation links */
    justify-content: center; /* Center the links horizontally */
    align-items: flex-start; /* Align items at the start */
    width: 40%; /* Width of the navigation links container */
}

.nav-links li {
    margin: 5px; /* Space around each nav link */
    list-style: none; /* Remove default bullet points */
    width: 5rem; /* Allow three items per row, accounting for margins */
}
.nav-links a {
    text-align: center; /* Center-align text in links */
    display: block; /* Make the link a block element */

    text-decoration: none; /* Remove underline from links */
    color: black; /* Text color */
}

    /* Login container */
    .login-container {
        max-width: 100%; /* Full width for smaller screens */
        padding: 10px; /* Reduce padding */
        margin: 20px auto; /* Reduce top margin */
    }

    .login-container h1 {
        font-size: 1.2em; /* Adjust font size */
    }

    .login-container input, .login-container button {
        padding: 5px; /* Reduce input and button padding */
    }

    .login-container button {
        font-size: 14px; /* Reduce button font size */
    }

    /* Table container */
    .table-container {
        max-width: 90%; /* Slightly wider table container */
        padding: 15px;
    }

    /* Table adjustments */
    table {
        font-size: 10px; /* Further reduce font size */
    }

    th, td {
        padding: 5px; /* Decrease padding */
        font-size: 5px; /* Adjust font size */
    }

    .date .pos {
        width: 50px;
    }

    .player, .won, .drawn, .lost, .points {
        width: auto;
    }

    .club {
        width: 75px;
    }

    .auto {
        display: none;
    }
    
    .result {
        width: auto;
    }
    
    .home-team, .away-team {
        width: auto;
    }
    
    .team img {
        height: 20px;
        width: 20px;
    }
    

    .team-name {
        text-align: center; /* Center align text */
        align-items: center;
        margin: 0 auto;
    }
    
    .team-info {
        display: flex; /* Enable flexbox layout */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }
    
    .team-image {
        width: 20px; /* Set a fixed width for the image */
        height: 20px; /* Set a fixed height for the image */
        object-fit: contain; /* Maintain aspect ratio */
        margin-bottom: 3px; /* Space between the image and text */
    }
    
    .team-text {
        word-wrap: break-word; /* Allow words to break onto the next line */
        white-space: normal; /* Allow normal text wrapping */
    }

    .profile-container h1 {
        font-size: 1.2rem;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .profile-container p {
        font-size: 0.75rem;
        color: #555; /* Slightly lighter text color */
        text-align: center; /* Center align */
    }

    /* Footer adjustments */
    .footer-container {
        flex-direction: column; /* Stack footer content */
        align-items: center;
        padding: 10px;
    }

    .footer-links ul li {
        display: block; /* Stack links vertically */
        margin: 5px 0; /* Add some vertical spacing */
    }

    .footer-social a {
        font-size: 1.2em; /* Adjust icon size */
    }

    .change-team-container {
        display: flex; /* Use flexbox for alignment */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items */
        max-width: 100%; /* Allow full width */
        width: 100%; /* Allow full width */
    }
    
    /* Style for the dropdown select */
    select {
        max-width: 100px; /* Set maximum width for dropdown */
        width: 80%; /* Allow full width */
        padding: 6px; /* Adjust padding */
        font-size: 8px; /* Adjust font size */
    }

    /* Button adjustments */
    .change-team-btn, .delete-user-btn, .update-team {
        padding: 4px; /* Reduce button padding */
        font-size: 5px; /* Reduce font size */
    }

    /* Box and pagination adjustments */
    .box {
        padding: 5px;
        margin: 5px;
    }

    .box ul li {
        width: 30px; /* Smaller width for pagination buttons */
        height: 30px;
        line-height: 30px;
    }

    .box button {
        font-size: 14px; /* Reduce button font size */
    }

    .box ul li a {
        font-size: 1.5rem; /* Slightly reduce font size */
    }
}